<div>
    <h1>Lista de productos</h1>
    <div>
        <h2>Categoria: Electrónica</h2>
    </div>
    
  
    <div class="container-list">
        <ul id="ul-view">
            
        </ul>
    </div>

    
</div>



<script src="/socket.io/socket.io.js"></script>
<script src="/script.js"></script>